@import '_variables.scss';

#root {
    height: 100vh;
}

// DARK THEME

body.dark {
    background-image: linear-gradient(to right,#955C00, #080500);

    .container {

        h1,
        h2,
        label,
        p {
            color: map-get($map: $ligth, $key: text-color);
            transition: 0.5s;
        }

        .calculator {
            background-color: map-get($map: $dark, $key: bg-color);
            border: 10px solid map-get($map: $dark, $key: bg-color);
            box-shadow: 15px 15px 30px 10px rgba(0, 0, 0, 1);
            transition: 0.5s;

            input[type="text"] {
                background-color: map-get($map: $dark, $key: bg-color);
                color: map-get($map: $dark, $key: number-color);
                height: 125px;
                width: 290px;
                font-size: 45px;
                transition: 0.5s;
            }

            .keypad {
                grid-template-columns: repeat(4, 5rem);
                grid-auto-rows: minmax(5rem, auto);
                font-size: 40px;

                button {
                    cursor: pointer;
                    border: none;
                    border-radius: 50px;
                    margin: 5px;
                    transition: 0.7s;
                }

                .number {
                    color: map-get($map: $dark, $key: number-color);
                    background-color: map-get($map: $dark, $key: number-border);

                    &:hover {
                        background-color: map-get($map: $dark, $key: number-hover);
                        transition: 0.3s;
                    }

                    &:active {
                        background-color: map-get($map: $dark, $key: number-active);
                        transition: 0;
                    }
                }

                .sign {
                    color: map-get($map: $dark, $key: sign-color);
                    background-color: map-get($map: $dark, $key: sign-border);

                    &:hover {
                        background-color: map-get($map: $dark, $key: sign-hover);
                        transition: 0.3s;
                    }

                    &:active {
                        background-color: map-get($map: $dark, $key: sign-active);
                        color: map-get($map: $dark, $key: sign-color);
                        transition: 0;
                    }
                }

                .action {
                    background-color: map-get($map: $dark, $key: action-border);
                    color: map-get($map: $dark, $key: action-color);

                    &:hover {
                        background-color: map-get($map: $dark, $key: action-hover);
                        transition: 0.3s;
                    }

                    &:active {
                        background-color: map-get($map: $dark, $key: action-active);
                        transition: 0;
                    }
                }

                #clear {
                    grid-column: 1/3;
                }

                #zero {
                    grid-column: 1/3;
                    padding-left: 25px;
                }
            }
        }
    }
}
