@import "_variables.scss";

#root {
	height: 100vh;
}

body.light {
	background-image: linear-gradient(to right, #db8700, #ffdba0);
	h1,
	h2,
	label,
	p {
		color: map-get($map: $dark, $key: text-color);
		transition: 0.5s;
	}
	.lead {
		margin-left: 20%;
		margin-right: 20%;
	}
	.calculator {
		background-color: map-get($map: $ligth, $key: bg-color);
		border: 10px solid map-get($map: $ligth, $key: bg-color);
		box-shadow: 15px 15px 30px 10px rgba(0, 0, 0, 0.5);
		transition: 0.5s;
		input[type="text"] {
			background-color: map-get($map: $ligth, $key: bg-color);
			color: map-get($map: $ligth, $key: number-color);
			height: 125px;
			width: 290px;
			font-size: 45px;
			transition: 0.5s;
		}
		.keypad {
			grid-template-columns: repeat(4, 5rem);
			grid-auto-rows: minmax(5rem, auto);
			font-size: 40px;
			button {
				cursor: pointer;
				border: none;
				border-radius: 50px;
				margin: 5px;
				transition: 0.7s;
			}
			.number {
				color: map-get($map: $ligth, $key: number-color);
				background-color: map-get($map: $ligth, $key: number-border);
				&:hover {
					background-color: map-get($map: $ligth, $key: number-hover);
					transition: 0.3s;
				}
				&:active {
					background-color: map-get(
						$map: $ligth,
						$key: number-active
					);
					transition: 0;
				}
			}
			.sign {
				color: map-get($map: $ligth, $key: sign-color);
				background-color: map-get($map: $ligth, $key: sign-border);
				&:hover {
					background-color: map-get($map: $ligth, $key: sign-hover);
					transition: 0.3s;
				}
				&:active {
					background-color: map-get($map: $ligth, $key: sign-active);
					color: map-get($map: $ligth, $key: sign-active);
					transition: 0;
				}
			}
			.action {
				color: map-get($map: $ligth, $key: action-color);
				background-color: map-get($map: $ligth, $key: action-border);
				&:hover {
					background-color: map-get($map: $ligth, $key: action-hover);
					transition: 0.3s;
				}
				&:active {
					background-color: map-get(
						$map: $ligth,
						$key: action-active
					);
					transition: 0;
				}
			}
			#clear {
				grid-column: 1/3;
			}
			#zero {
				grid-column: 1/3;
			}
		}
	}
	.footer {
		color: map-get($map: $dark, $key: text-color);
		transition: 0.5s;
		a {
			color: map-get($map: $dark, $key: text-color);
			position: relative;
			transition: 0.5s;
			&:after {
				content: "";
				position: absolute;
				width: 100%;
				left: 0;
				margin-top: 35px;
				border-bottom: 3px solid #925100;
				opacity: 0;
				transition: all 0.3s ease-in-out;
			}
			&:hover {
				color: #925100;
				&:after {
					opacity: 1;
				}
			}
		}
	}
}
